.movie-view {
    padding: 1rem;
    box-shadow: 0 2px 10px 0 rgba(134,141,155,0.2);
    margin-top: 1rem;
    background-color: white;
}

.movie-poster {
  width: 20%;
  float: left;
  padding: inherit;
}
