.profile-view {
    margin: auto;
    padding: 1rem;
    box-shadow: 0 2px 10px 0 rgba(134,141,155,0.2);
    margin-top: 1rem;
    background-color: white;
}

.label{
  color: #000;
  font-style: italic;
}

.value {
  text-decoration: none;
}

.changeDataForm {
  margin-top: 30px;
  display: none;

}
.show-form {
  display: inherit;
  position: relative;
  animation: formSlideDown .3s ease-in;
}
